* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.maincontainer {
    margin: 0 200px;
}

.main-content-container {
    margin: 0 0 0 400px;
}


/* ==================== SIDEBAR ==================== */
.sidebar {
    width: 400px;
    height: 100vh;
    position: fixed;
    background-color: azure;
}
.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.sidebar-img {
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 50%;
    margin: 50px 0 0 0;
    background-image: url("../images/VllSquareBW.jpeg");
    background-size: cover;
    background-position: center;
}

.sidebar-img:hover {
    background-image: url("../images/VllSquare.jpeg");
    background-size: cover;
    background-position: center;
    transform: scale(1.01);
    transition: all 0.5s;
}

.sidebar-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.menu {
    margin: 10px 0;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-elements {
    font-weight: 300;
    font-size: 15px;
    margin: 8px 0;
    color: grey;
}

.menu-elements a {
    outline: none;
    text-decoration: none;
    color: grey;
}

.menu-elements:hover {
    border-bottom: 1px solid blue;   
}

.sidebar-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-contact p {
    margin: 5px 0;
    text-align: center;
}

.sidebar-icons i {
    margin: 5px;
}



/* ==================== HERO ==================== */

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.home-text {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 40px;
    padding: 20px;
}

.home-text-line {
    margin: 0;
    padding: 0;
    color: black;
    margin: 10px 0;
}

.home-text-title {
    font-size: 30px;
    margin-bottom: 5px;
}

.home-text-description {
    font-size: small;
    margin-top: 0;
}

.home-button {
    width: 150px;
    height: 50px;
}

.home-button a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-img {
    height: 100vh;
    width: 900px;
    background-image: url("../images/LIghts-removebg-BW.png");
    background-size: cover;
    background-position: center;
}

.home-img:hover {
    background-image: url("../images/LIghts-removebg.png");
    transform: scale(1.01);
    transition: all 0.5s;
}


















.about {
    height: 50vh;
    width: 100%;
    background-color: green;
}

.whatido {
    height: 50vh;
    width: 100%;
    background-color: cyan;
}

.skills {
    height: 70vh;
    width: 100%;
    background-color: pink;
}

.education {
    height: 80vh;
    width: 100%;
    background-color: honeydew;
}