* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.maincontainer {
    margin: 0 200px;
}

.text-container {
    margin-bottom: 120px;
    padding: 60px;
}

/* ==================== SIDEBAR ==================== */
.sidebar {
    width: 400px;
    height: 100vh;
    position: fixed;
    background-color: azure;
}
.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.sidebar-img {
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 50%;
    margin: 50px 0 0 0;
    background-image: url("../images/VllSquareBW.jpeg");
    background-size: cover;
    background-position: center;
}

.sidebar-img:hover {
    background-image: url("../images/VllSquare.jpeg");
    background-size: cover;
    background-position: center;
    transform: scale(1.01);
    transition: all 0.5s;
}

.sidebar-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.menu {
    margin: 10px 0;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-elements {
    font-weight: 300;
    font-size: 15px;
    margin: 8px 0;
    color: grey;
}

.menu-elements a {
    outline: none;
    text-decoration: none;
    color: grey;
}

.menu-elements:hover {
    border-bottom: 1px solid blue;     
}

.sidebar-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-contact p {
    margin: 5px 0;
    text-align: center;
}

.sidebar-icons i {
    margin: 5px;
}



/* ==================== HERO ==================== */
.main-content-container {
    margin: 0 0 0 400px;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: red;
}



/* ==================== ABOUT ME ==================== */

.about-card {
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.border-bottom-red {
    border-bottom: solid #ee6c4d;
}

.border-bottom-black {
    border-bottom: solid #293241;
}

.border-bottom-yellow {
    border-bottom: solid #fdc500;
}

.border-bottom-blue {
    border-bottom: solid #3d5a80;
}

.card-container {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card-text-container {
    margin-bottom: 30px;
}

.card-text-container h5 {
    font-size: small;
    font-weight: 300;
    margin-bottom: 10px;
}

.card-text-container h3 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 10px;
}

#DataStructures {
    color: #ee6c4d;
}

#Algorithms {
    color: #293241;
}

#Frontend {
    color: #fdc500;
}

#Backend {
    color: #3d5a80;
}






.whatido {
    height: 50vh;
    width: 100%;
    background-color: cyan;
}

.skills {
    height: 70vh;
    width: 100%;
    background-color: pink;
}

.education {
    height: 80vh;
    width: 100%;
    background-color: honeydew;
}